<div class="pricingDetailsInfo" id="pricingDetailsFerri" style="display: none;">
  <div class="priceDetailsLight">
    <h3>Detalles de Precios</h3>
    <p>
      • Tarifas más el 19% de impuestos. <br />
      • Tarifas validos de Enero 2 a Marzo 31, 2020 / Julio 1 a Agosto 31, 2020.
      <br />
      • Infantes 0-4 años Gratis sin derecho a asiento en el bote.<br />
      • Tarifa especial para jóvenes y niños que comparten habitación con un
      adulto.<br />
      • La tarifa por noche adicional solo está disponible cuando se extiende el
      paquete de 2 noches con boleto de ferry. <br />
      • Los precios están sujetos a cambio sin previo aviso. <br />
      • Hoteles sujetos a disponibilidad que puede cambiar sin previo aviso.<br />
      • No hay reserva sin número de confirmación, solo precios sujetos a
      disponibilidad. Las reservas tienen un periodo de 48 horas para realizar
      el pago y no ser canceladas en nuestro sistema. <br />
      • Para garantizar su traslado desde el muelle hasta el complejo, le
      pedimos que nos proporcione la hora al menos 24 horas antes de su
      llegada.<br />
      • Los únicos documentos válidos para viajar son los siguientes: Adultos:
      documentos de identidad o pasaporte valido por más de 6 meses, Niños:
      certificado de nacimiento original o pasaporte valido por más de 6 meses.
      Se aplican restricciones.
    </p>
    <br /><br />

    <h3>Cuando llegues</h3>
    <p>
      A su llegada al hotel, se le proporcionará el brazalete Todo Incluido para
      que pueda disfrutar de las instalaciones, restaurantes y bares del hotel.
      La habitación se entregará con un tiempo máximo de 3pm. El día de la
      salida, la habitación debe entregarse a las 11 a.m., pero puede continuar
      disfrutando de las instalaciones, restaurantes y bares del hotel hasta las
      12:15 p.m., cuando sale el último transporte al muelle.
    </p>
  </div>
</div>
